/*nva related css*/
body{
    
    font-family: 'lato', sans-serif;
    font-family: 'open sans', sans-serif;
}
.section-title{
color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
.section-discription{
    color: #757575;
text-align: center;
font-size: 18px;
font-weight: 400;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0,200px;
}
.text-primary{
    color: rgb(41, 241, 35);
}
.btn-primary{
    border-radius: 5%;
    background: #75e629;
    font-size: 20px;
    width: 700;
    padding: 15px 35px;
    color: aliceblue;

}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}


.header{
    background-color: antiquewhite;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .profile-picture{
    width: 700px;
    height: 800px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-discription{

}

/* main section styles*/
main{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.sec{
    background-color: rgba(238, 233, 227, 0.39);
  justify-content: space-between;
}

main section{
    margin-top: 130px;
}
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: azure;
    margin: 130px 0;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
#what-i-do-description{
    padding: 30px 150px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background-color: antiquewhite;
    box-shadow: 0px 6px 50px 0px; 
    box-shadow: #474747;
}
.skill-description{
    color: #474747;

}
.resume-column-title{
color: #474747;
font-size: 40px;
font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-item-title{
color: #474747;
font-size: 25px;
font-weight: 700;
margin-bottom: 10px;
}
.resume-item-description , .resume-item-inistitute{
    color: #757575;
}
.resume-container hr{
    margin: 30px;
}
.resume-item-inistitute{
    margin-top: 0px;
    margin-bottom: 20px;
}

.download-cv{
    margin-top: 50px;
}


footer{
    display: flex;
    background: #e7dfdf;
    margin-top: 100px;
    padding: 130px 200px;
}
