/*nva related css*/
body{
    
    font-family: 'lato', sans-serif;
    font-family: 'open sans', sans-serif;
}
.section-title{
color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
.section-discription{
    color: #757575;
text-align: center;
font-size: 18px;
font-weight: 400;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0,200px;
}
.text-primary{
    color: rgb(41, 241, 35);
}
.btn-primary{
    border-radius: 5%;
    background: #75e629;
    font-size: 20px;
    width: 700;
    padding: 15px 35px;
    color: aliceblue;

}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}


.header{
    background-color: antiquewhite;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .profile-picture{
    width: 700px;
    height: 800px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-discription{

}

/* main section styles*/
main{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.about{
    padding: 130px;
    border-radius: 10px;
    background-color: azure;
    margin: 130px 0;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}